*{
    font-family: 'Nova Square';
        padding: 0;
        margin: 0;
        
    }
    body {
        margin: 0;
        padding: 0;
        background-color: black;
    }
    
    .hero {
        background-color: transparent;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .overlay{
        height:50px;

    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        width: 75px;
        height: auto;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        margin-left: 20px;
    }
    
    .nav-links li a {
        text-decoration: none;
        color: beige;
        font-weight: bold;
    }
    
    .nav-links li a:hover {
        color: wheat;
    }
    .hero-center{
        color: rgb(185, 70, 89);
        padding: 15% 0;
        text-align: center;
        width: 70%;
        margin: auto;
        background-image: url('gambar/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background: rgb(11,11,11,0,505);
    }

    .hero-center h2{
        font-size: 3em;
        margin: 0 10% 10% 10%;
    }

    .hero-center .btn{
        background:transparent;
        color: rgb(63, 75, 14);
        padding: 20px 50px;
        display: inline-block;
        margin-top: 20px;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*about*/
    .about{
        padding: 5% 0;
        color: gainsboro;
        width: 100%;
    }
    .about .about-decs{
        flex-grow: 1;
        width: 50%; 
        text-align: right;
    }
    .about h2{
        font-size: 3em;
        color: rgb(185, 70, 89);
    }
    .about h4{
        color:gainsboro;
        font-size: 2em;
    }
    .about .about-decs p{
        line-height: 180%;
    }
    /* foto */
    .about-images {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; 
    }

    .about-images .imageone {
        flex-shrink: 0;
        margin-right: 20px;
    }
    
    .about-images img {
        max-width: 100%; 
        height: auto;
        width: 400px; 
        object-fit: contain; 
    }
    /* member */
   
    .mmember h2{
        color:white;
        font-size: 80px;
        padding: 50px 0;
        text-align: center;
        margin-top: 100px;
    }
    .member{
        padding: 10px ;
        text-align: center;
    }
    /* merch */
    .merchandise {
        background-color: black;
        padding: 50px 0;
        text-align: center;
      }
    .merchandise h2{
        color:white;
        font-size: 120px;
        padding-top: 90px;
    }
    .merchandise .mcontainer {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      
      .product {
        width: 300px;
        height: 250px;
        text-align: center;
        margin: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .product img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }
      /*prestasi*/
      .tasi {
        background-color: black;
        padding: 50px 0;
        text-align: center;
      }
    .tasi h2{
        color:white;
        font-size: 100px;
        padding-top: 90px;
    }
    .tasi .tcontainer {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      
      .prestasi {
        width: 300px;
        height: 250px;
        text-align: center;
        margin: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .prestasi img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }
      /*contact*/
      .contact {
        padding-top: 90px;
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: wheat;
        background-image: url('gambar/Bocchi-the-Rock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .contact::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.50);
    }
    
    .contact .content {
        z-index: 1;
        flex-grow: 1;
        padding-left: 90px;
    }
    .contact .content h2 {
        font-size: 60px;
    }
    .contact .contact-left {
        flex-basis: 40%;
        padding-left: 10%;
    }
    
    .contact .container .contact-left {
        text-align: left;
        margin-left: auto;
        z-index: 1;
        flex-grow: 1;
    }
    
    .contact .contact-right {
        flex-basis: 40%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact .contactform form {

    }
    
    
      /*footer*/

      footer {
        background-color: black;
        color: white;
        padding: 20px; 
      }
      

/* mulai repsonsive */
@media (max-width: 680px) {
    .hero{
        margin-bottom: 0;
    }

    .hero-center p{
        color: antiquewhite;
    }

    .hero-center {
        padding-bottom: 100%;
        height: 100%;
        width: 100%;
        background-image: url('gambar/banner2.png');
        background-size: cover;
        background-position: center;

    }


    .wrapper {
        flex-direction: column;
    }

    .member h2{
        text-align: center;
    }
    .about-images .imageone {
        margin-right: 0;
        width: 90%;
        height: 50%;
    }

    .about .about-decs {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

}
